html {
    --textOpacity: 0
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

* {
    --colour1: hsl(75deg 30% 85%);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--colour1);
    user-select: none;
    touch-action: none;
}
