html {
    --textOpacity: 0
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

* {
    --colour1: hsl(75deg 30% 85%);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--colour1);
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

#qrcode rect {
    fill: var(--colour1);
}

#zoom, #translate {
    will-change: 'transform';
}

@keyframes upAndDown {
    0% { transform: translateY(0px) }
    50% { transform: translateY(-10px) }
    100% { transform: translateY(0px) }
}

.upAndDown {
    animation: upAndDown 1s infinite;
}

@keyframes fadeInAndOut {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

.fadeInAndOut {
    animation: fadeInAndOut 1s infinite;
}

@keyframes rollDie {
    0% { 
        opacity: 0;
        rotate: 360deg;
        filter: blur(10px);
        scale: 5;
        translate: 500px 500px;
    }
    30% {
        opacity: 1;
        filter: blur(0px);
        scale: 1;
    }
    100% {
        opacity: 1;
        rotate: 0deg;
        filter: blur(0px);
        scale: 1;
        translate: 0 0;
    }
}

.dieRoll {
    animation: rollDie 1s cubic-bezier(0.22, 0.61, 0.36, 1);
    will-change: 'translate', 'rotate', 'opacity', 'filter', 'scale';
}
